@font-face {
  font-family: "AvenirLTStd";
  src: url("../css/fonts/AvenirLTStd-Roman.otf");
}

@font-face {
  font-family: "CaeciliaLTStd";
  src: url("../css/fonts/CaeciliaLTStd-Bold.otf");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "AvenirLTStd";
  overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}

/* margin: 0;
    padding: 0; */

/* .page_wrapper{
margin: 0;
padding: 0;


} */

/*banner css start*/
.banner {
  height: 470px;
  width: 100%;
  background: url("../images/banner.jpg") no-repeat top left;
  background-size: cover;
}
/*banner css end*/

/*container css start*/
/* .container {
    width: 1100px;
    margin: 0 auto;
} */
/*container css end*/

.title {
  /* position: absolute;
    left: 345px;
    top: 131px; */
  font-size: 26px;
  line-height: 1;
  font-weight: 500;
  font-family: "CaeciliaLTStd";
  margin: 140px 0 0 220px;
  width: 340px;
  display: inline-block;
}
.container2 {
  display: block;
}
.form-wrapper{
    padding: 0px 10px 40px 10px;
position: relative;
}
.form {
    width: 890px;
  box-shadow: 0px -4px 45px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 30px 25px 30px;
  margin: 0 auto;
}
.para2 {
  text-align: right;
  color: #c80000;
}

.para1{
    position: absolute;
    left: 508px;
    top:-38px;
    text-align: center;
    background-color: #c80000;
    width: 392px;
    padding: 10px;
    margin: 21px 5px 28px 10px;
    color: white;
    font-size: 22px;
    font-family: "CaeciliaLTStd"
}
fieldset {
  border: none;
}
/* input[type=text]{
    border: none;
border-bottom: 1px solid #c80000;
font-size: 15px;

} */
input[type="text"] :active {
  border: none;
}

input[type="text"] :active {
  border: none;
}
label :focus {
  border: none;
}
::placeholder {
  color: #c80000;
  opacity: 1; /* Firefox */
}

input[type="text"] {
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #c80000;
  padding: 15px;
}
#select-city {
  color: #c80000;
  margin: 10px;
  padding: 15px 70px 15px 15px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #c80000;
}
input[type="Email"] {
  font-size: 15px;
  padding: 15px 70px 15px 15px;
  margin: 10px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #c80000;
}
#select-source {
  color: #c80000;
  padding: 15px 70px 15px 15px;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #c80000;
}
input[type="tel"] {
  padding: 15px 70px 15px 15px;
  font-size: 15px;
  margin: 10px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #c80000;
}
#qualification {
  color: #c80000;
  font-size: 15px;
  padding: 15px 70px 15px 15px;
  margin: 10px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #c80000;
}
:focus {
  outline: none;
}
.button1 {
  font-size: 20px;
  font-family: serif;
  color: #c80000;
  /* font-weight: bold; */
  margin: 10px;
  padding: 6px;
  width: 20%;

  height: 10%;
  border: 1px solid #c80000;
  background-color: white;
}
.button {
  position: relative;
  left: 320px;
  font-size: 20px;
  font-family: serif;
  color: #c80000;
  /* font-weight: bold; */
  margin: 10px;
  padding: 6px;
  width: 15%;

  height: 10%;
  border: 1px solid #c80000;
  background-color: white;
}
table {
	width: 100%;
	border-collapse: collapse;
}

td {
	border: 1px solid green;
}

table,
th,
td {
	border-collapse: collapse;
}



.para3 {
  height: 700px;
  width: 20%;
  word-spacing: 1px;
  text-align: left;
  padding: 0px 70px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  color: #c80000;
}
/* s */
.table1 {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
/* .tr1{
    border-right: 1px solid black;
} */
td {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.td10 {
  padding: 10px 10px 10px 10px;
}

/* 
#table, td{
    border: 1px solid grey;
    text-align: center;
 border-collapse: collapse;
} */
th {
  text-align: center;
  color: #c80000;
  height: 80%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 20px 20px 20px 20px;
}



.container0{
   padding:  15px 76px 20px 76px;
}
.container2{
    padding: 10px 10px 10px 10px;
    line-height: 10px;
}



.container {
  margin: 0 auto;
  padding: 0px 10px;
  width: 1000px;
}

.grid-wrapper {
  padding: 35px 0px ;
  display: flex;

  justify-content: center;
}
.grid-col-5 {
  text-align: center;
  width: 200px;
}
.grid-img {
  width: 150px;
}
.grid-text1 {
  font-size: 20px;
  text-align: center;
}
.grid-text2 {
  font-size: 15px;
  text-align: center;
}
.grid-heading {
  color: #c80000;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}


.grid-border {
  border-left: 1px solid #c80000;
}
.grid-col-3 {
  gap: 5px;
  width: 330px;
  justify-content: center;
}

.grid-img-3 {
  font-size: 15px;
  text-align: center;
}
.grid-para {
  text-align: center;
  padding-bottom: 30px;
}

.grid-para span a {
  color: #c80000;
  font-size: 15px;
}
.border-wrapper{
border-left: 3px solid #c80000;
padding:5px 10px 0px 5px;
margin: 10px 10px 10px 72px;


}
.grid-col-2 {
  column-gap: 5px;
  text-align: center;
  width: 200px;
}
.grid-text3 {
    color: black;
    line-height: 20px;
  font-size: 15px;
  text-align: left;
}
.grid-text4 {
    color: #c80000;
font-weight: 500;
  font-size: 14px;
  text-align: left;
}

.grid-wrapper1 {
  display: inline;

  justify-content: center;
}


.container4 {
  text-align: center;
  display: inline;
}
.container5 {
  text-align: center;
  display: inline;
}
.box {
  text-align: left;
  position: relative;

  left: 290px;
}
.container9 {
  margin: 0px 60px 10px 0px;
}
.para14 {
  padding-top: 20px;
  color: #c80000;
  font-size: 20px;
  font-family: "CaeciliaLTStd";
}

section::after {
  content: "";
  display: table;
  clear: both;
}

.container3 {
  text-align: center;
  display: inline;
}
.container3 {
  text-align: center;
  display: inline;
}
.img {
  vertical-align: right;

  position: relative;
  left: 1127px;
  width: 1%;
}

.footer {
  margin: 0;
  padding: 10px 19px 10px 17px;
  color: white;
  text-align: justify;
  font-size: 15px;
  background-color: #c80000;
}


  @media screen and (max-width: 768px) {
.container{
width: 100%;

}
.banner{
    background-size: 100%;
    height: 113px;
}
.title{
    font-size: 15px;
    text-align:left;
    position: absolute;
    top: -115px;
    color: #c80000;
    width: 50%;
    left: -198px;
}

.form{
width: 100%;
margin: 0 auto;
padding:0px 0px 30px 0px;
box-shadow: 0px -4px 45px 0 rgba(0, 0, 0, 0.2);
}
.para2{
text-align: center;
margin: 0;

padding: 52px 10px 0px 15px;

}
.wrapper{
    margin: 10px 30px 10px 30px;
    padding: 0;
}
.para1{
  
  
    width: 200px;
    font-size: 11px;
    position: absolute;
    top: -30px;
    left: 70px;
    height: 18px;
    padding: 2px;
    text-align: center;
}
.fieldset{
margin: 0;
padding: 0;
    text-align: center;
   
    border: 1px solid #c80000;
}
input[type="text"], input[type="Email"], input[type="tel"]{
padding: 10px 47px 10px 15px;
}

#select-city, #qualification, #select-source{
padding: 10px 130px 10px 10px;
}


.button1{
width: 60%;

position: relative;
top: 0px;
left: 35px;

font-size: 22px;
}
.button{
position: relative;
top: 0px;
left: 65px;
width: 40%;
font-size: 22px;
}
section{
    width: 100px;
}
.table1{
width: 100%;
}

.grid-wrapper{
display: block;
text-align: center;

}
.grid-col-5{
width: 100%;
}
.grid-img{
    vertical-align: middle;
    width: 100%;
    padding-block: 16px;
}
.grid-para{
    font-size: 14px;
    padding: 10px;
    text-align: center;
}
.grid-para span a{
font-size: 14px;

}
.grid-img img{
width: 80%;
}
.grid-img-3 img{
  width: 80%;
  }
.grid-heading{
    margin: 0;
    padding: 0px 0px 15px 0px;
font-size: 16px;
text-align: left;
}
.grid-img-3{
    
        vertical-align: middle;
        width: 100%;
        padding-block: 16px;
}


.img{
position: 0px;
text-align: right;
left: 158px;
width: 12px;
}



  }